<div class="sidebar">
    <div class="profile-section">
      <div class="profile-picture">
        <!-- Imagem do perfil -->
        <img src="https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Aaccount_circle%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4024" alt="Foto do usuario">
      </div>
      <div class="nome do usuario">
        nome do usuário
      </div>
    </div>
    <nav class="nav-menu">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/carros" routerLinkActive="active">Carros</a></li>
        <li><a routerLink="/pecas" routerLinkActive="active">Peças</a></li>
      </ul>
    </nav>
  </div>
  